SECRET_KEY=django-secret-key
DEBUG=False
ALLOWED_HOSTS=yourdomain.com,your-server-ip
CORS_ALLOWED_ORIGINS=https://yourdomain.com,http://yourdomain.com

POSTGRES_DB=kanban_prod
POSTGRES_USER=kanban_prod_user
POSTGRES_PASSWORD=choose-a-strong-password-here
