SECRET_KEY=django-secret-key
DEBUG=True
ALLOWED_HOSTS="127.0.0.1"

# PostgreSQL Settings
POSTGRES_DB=kanban
POSTGRES_USER=kanban_user
POSTGRES_PASSWORD=kanban_pass
POSTGRES_HOST=localhost
POSTGRES_PORT=5432